@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700,800");
html {
  font-size: 16px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button, a, button:focus, a:focus, input, input:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6225;
  color: #080705;
  letter-spacing: 0.155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F9F9F9;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

p {
  margin: 0;
  margin-bottom: 24px;
  font-weight: semi-bold;
}

p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.32s ease;
  transition: color 0.32s ease;
}

a:active, a:focus, a:hover {
  text-decoration: none;
}

audio, canvas, img, video {
  display: block;
  max-width: unset;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

svg {
  pointer-events: none;
  vertical-align: middle;
}

ul.none, ol.none {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  padding: 1.79rem 1.09rem;
}

@media only screen and (min-width: 576px) {
  .wrapper.will-grow {
    padding-top: 2.79rem;
    padding-bottom: 2.79rem;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper.will-grow {
    padding-top: 3.79rem;
    padding-bottom: 3.79rem;
  }
}

.wrapper.negate-top {
  padding-top: 0;
}

.wrapper.negate-bottom {
  padding-bottom: 0;
}

.wrapper-y {
  padding-top: 1.79rem;
  padding-bottom: 1.79rem;
}

@media only screen and (min-width: 576px) {
  .wrapper-y.will-grow {
    padding-top: 2.79rem;
    padding-bottom: 2.79rem;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper-y.will-grow {
    padding-top: 3.79rem;
    padding-bottom: 3.79rem;
  }
}

.wrapper-y.negate-top {
  padding-top: 0;
}

.wrapper-x {
  padding-right: 1.09rem;
  padding-left: 1.09rem;
}

@media screen and (max-width: 767px) {
  .mobile-wrapper-x {
    padding-right: 1.09rem;
    padding-left: 1.09rem;
  }
}

.wrapper-on-small {
  padding: 0;
}

@media screen and (max-width: 450px) {
  .wrapper-on-small {
    padding: 1.79rem 1.09rem 0 1.09rem;
  }
}

.grid, .is-home .what-we-do ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.79rem;
}

.grid.is-multi-col.mostly-2, .is-home .what-we-do ul {
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media only screen and (min-width: 992px) {
  .grid.is-multi-col.mostly-2, .is-home .what-we-do ul {
    -ms-grid-columns: (minmax(372px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(372px, 1fr));
  }
}

.grid.is-multi-col.mostly-3, .is-home .what-we-do ul.mostly-3 {
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.grid.is-multi-col.mostly-4, .is-home .what-we-do ul.mostly-4 {
  -ms-grid-columns: (minmax(210px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.grid .col-12, .is-home .what-we-do ul .col-12 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

@media only screen and (min-width: 576px) {
  .grid .col-6-sm, .is-home .what-we-do ul .col-6-sm {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .grid .col-6-sm.offset-6-cols-from-left, .is-home .what-we-do ul .col-6-sm.offset-6-cols-from-left {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 /13;
  }
}

@media only screen and (min-width: 768px) {
  .grid .col-4-md, .is-home .what-we-do ul .col-4-md {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
  }
  .grid .col-4-md.offset-8-cols-from-left, .is-home .what-we-do ul .col-4-md.offset-8-cols-from-left {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 /13;
  }
  .grid .col-8-md, .is-home .what-we-do ul .col-8-md {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
}

@media only screen and (min-width: 576px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .grid-container .post {
    min-height: 180px;
  }
}

@media only screen and (min-width: 768px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .grid-container .post {
    min-height: 180px;
  }
  .grid-container .post:nth-child(10n + 1), .grid-container .post:nth-child(10n + 8) {
    grid-row: span 2;
  }
}

.grid-2-1 {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.79rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
  .grid-2-1 {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

.grid-1-2 {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.79rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
  .grid-1-2 {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.side-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.79rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 576px) {
  .side-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .side-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.79rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 992px) {
  .grid-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.grid-medium-2 {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.79rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
  .grid-medium-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.grid-2-s {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.8rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
  .grid-2-s {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.clearfix::before, .clearfix::after {
  content: '';
  display: table;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .left-70 {
    width: 60%;
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .right-30 {
    width: 40%;
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .left-50 {
    width: 50%;
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .right-50 {
    width: 50%;
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .left-30 {
    width: 40%;
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .right-70 {
    width: 60%;
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .left-40 {
    width: 45%;
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .right-60 {
    width: 55%;
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .right-40 {
    width: 45%;
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .left-60 {
    width: 55%;
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .left-20 {
    width: 30%;
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .right-80 {
    width: 70%;
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .right-20 {
    width: 30%;
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .left-80 {
    width: 70%;
    float: left;
  }
}

.left-70-persisted {
  width: 64%;
  float: left;
}

.right-30-persisted {
  width: 36%;
  float: right;
}

.maxwidth-xl {
  max-width: 1192px;
}

.maxwidth-sl {
  max-width: 1024px;
}

.maxwidth-lt {
  max-width: 992px;
}

.maxwidth-mt {
  max-width: 828px;
}

.maxwidth-tb {
  max-width: 768px;
}

.maxwidth-sm {
  max-width: 500px;
}

.maxwidth-xs {
  max-width: 360px;
}

.maxwidth-xxs {
  max-width: 304px;
}

.main-wrap {
  max-width: 1170px;
}

@media screen and (min-width: 1440px) {
  .main-wrap {
    max-width: 1300px;
  }
}

.w-100 {
  width: 100%;
}

.w-link {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
}

@media only screen and (min-width: 768px) {
  .w-link {
    height: 50px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media only screen and (min-width: 992px) {
  .w-link {
    height: 50px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.work-item {
  background-color: white;
  border-radius: 4px;
}

.work-item:hover {
  background-color: white;
}

.w-auto {
  width: auto;
}

.h-100 {
  height: 100%;
}

.h-100-break {
  height: auto;
}

@media only screen and (min-width: 768px) {
  .h-100-break {
    height: 100%;
  }
}

.min-height-100-vh {
  min-height: 80vh;
}

@media only screen and (min-width: 992px) {
  .min-height-100-vh {
    min-height: 100vh;
  }
}

.min-height-80-vh {
  height: auto;
}

@media only screen and (min-width: 768px) {
  .min-height-80-vh {
    height: 100vh;
  }
}

.min-height-60-vh {
  height: 60vh;
}

@media only screen and (min-width: 768px) {
  .min-height-60-vh {
    height: 100vh;
  }
}

.max-height-80-vh {
  max-height: 90vh;
}

.max-height-100-vh {
  max-height: 100vh;
}

.min-h-80 {
  min-height: 90px;
}

@media only screen and (min-width: 768px) {
  .min-h-80 {
    min-height: 20vh;
    margin-top: 100px;
  }
}

.max-height-70-vh {
  min-height: 70vh;
}

@media only screen and (min-width: 768px) {
  .max-height-70-vh {
    max-height: 80vh;
  }
}

.height-100-vh {
  height: 100vh;
}

.desired-height {
  height: 392px;
}

@media only screen and (min-width: 576px) {
  .desired-height {
    height: 592px;
  }
}

.desired-height-3qtr {
  height: 264px;
}

@media only screen and (min-width: 576px) {
  .desired-height-3qtr {
    height: 392px;
  }
}

@media screen and (max-width: 767px) {
  main {
    margin-top: 110px;
  }
}

.small-section {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-147px);
          transform: translateY(-147px);
}

.small-section .top-borders {
  border-top-left-radius: 10px;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .small-section {
    position: relative;
    width: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .small-section .top-borders {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.hover-move {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-move:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.succeed {
  margin-bottom: 120px;
}

.succeed .mid-feature {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.succeed .mid-feature.hover-move:hover {
  -webkit-transform: translateY(90px);
          transform: translateY(90px);
}

@media screen and (max-width: 1005px) {
  .succeed {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 672px) {
  .succeed .mid-feature {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.p-left {
  padding-left: 15px;
}

@media only screen and (min-width: 768px) {
  .p-left {
    padding-left: 50px;
  }
}

.p-right {
  padding-right: 15px;
}

@media only screen and (min-width: 768px) {
  .p-right {
    padding-right: 100px;
  }
}

header {
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
}

header .logo h3 {
  font-family: 'Montserrat', sans-serif;
}

header nav li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 3rem;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 767px) {
  header nav li a {
    margin-left: 1rem;
  }
}

.logo-area {
  font-size: 1.5rem;
}

.logo-area .text-dance {
  font-family: 'Dancing Script', cursive;
}

nav a {
  position: relative;
}

nav a.is-active {
  color: #045894;
}

nav a.is-active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  top: 35px;
  background-color: #045894;
}

.topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  width: 120px;
}

.site-footer .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-footer .col h4 {
  color: white;
}

@media screen and (max-width: 450px) {
  .site-footer .col {
    min-width: 210px;
    margin-top: 20px;
  }
}

.site-footer li a {
  display: block;
  line-height: 0;
  padding: 1.09rem 0;
}

.definition-area {
  max-width: 250px;
}

.definition-area h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
}

.definition-area a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.definition-area a svg {
  width: 28px;
  height: 34px;
  margin-right: 5px;
}

.colophon {
  opacity: 0.5 !important;
}

.co-primary {
  color: #045894;
}

.co-sweetgray {
  color: #767676;
}

.co-readablegray, .is-home .what-we-do ul a {
  color: rgba(0, 0, 0, 0.76);
}

.co-richblack {
  color: #080705;
}

.co-comp {
  color: #FFD600;
}

.co-white {
  color: #ffffff;
}

.co-whitesmoke {
  color: rgba(255, 255, 255, 0.7);
}

.is-required {
  color: red;
}

.co-extra {
  color: #476C9B;
}

.bg-image {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.bg-primary {
  background-color: #045894;
}

.bg-comp {
  background-color: #FFD600;
}

.bg-gray {
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 53, 82, 0.05)), to(rgba(41, 19, 38, 0.05)));
  background: linear-gradient(90deg, rgba(47, 53, 82, 0.05) 0%, rgba(41, 19, 38, 0.05) 100%);
}

.bg-lightgray {
  background-color: #E5E5E5;
}

.bg-lighter-gray {
  background-color: rgba(46, 49, 76, 0.03);
}

.bg-white {
  background-color: #ffffff;
}

.bg-blue {
  background-color: rgba(102, 189, 144, 0.09);
}

.bg-platinum {
  background-color: #f5f5f5;
}

.bg-gainsboro {
  background-color: #dcdcdc;
}

.bg-rich-black {
  background-color: #080705;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0);
}

.bg-bg {
  background-color: #f8f8f8;
}

.bg-branddark {
  background-color: #101010;
}

.bg-branddark.alter-text .h, .bg-branddark.alter-text p, .bg-branddark.alter-text a {
  color: #ffffff;
}

.bg-branddark.alter-text p {
  opacity: 0.7;
}

.bg-t-white {
  background-color: rgba(255, 255, 255, 0.15);
}

.bg-t-black {
  background-color: rgba(0, 0, 0, 0.25);
}

.bg-pic {
  background-color: #212224;
  background-image: url(../img/pic.jpg);
  background-size: cover;
  background-position: center center;
}

.border-top-light {
  border-top: 0.5px solid rgba(255, 255, 255, 0.6);
}

.border-bottom-light {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
}

.thin-primary-border {
  border: 0.5px solid #045894;
}

.top-bottom-border {
  border-top: 0.5px solid #045894;
  border-bottom: 0.5px solid #045894;
}

.borderless {
  border: none;
}

.social {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.opacity-7 {
  opacity: 0.7;
}

.borderline-top {
  border-top: 1px solid #ddd;
}

.borderline-bottom {
  border-bottom: 1px solid #ddd;
}

.list-border {
  border-bottom: 1px solid #ddd;
}

.list-border:last-of-type {
  border-bottom: 0;
}

.separator {
  margin: 0 0.59rem;
}

.separator::after {
  content: '\00B7';
  color: inherit;
}

.border-circle {
  border: 2px solid #fff;
}

.b-rad-s {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.blog-list a {
  border: 0.5px dotted rgba(0, 0, 0, 0);
}

.blog-list a:hover {
  border: 0.5px dotted rgba(0, 0, 0, 0.5);
}

.left-50-content {
  -webkit-transform: translateX(160px);
          transform: translateX(160px);
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 800px) {
  .left-50-content {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@media screen and (max-width: 767px) {
  .left-50-content {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media screen and (max-width: 767px) {
  .mobile-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.tag-item {
  display: inline-block;
  margin-right: 0.4rem;
  border-radius: 50px;
  border: 0.7px solid #045894;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.tag-item a {
  display: block;
  padding: 0.1rem 0.8rem 0.25rem 0.8rem;
}

.tag-item:hover {
  background-color: #045894;
}

.tag-item:hover a {
  color: white;
}

.writing-nav-icon {
  display: inline-block;
  border: 1px solid #565656;
  padding: 0.45rem 0.5rem;
  text-align: center;
  background-color: #565656;
  color: white;
  width: 40px;
  height: 40px;
  margin: 0.5rem;
}

.writing-nav-icon.active {
  border: 1px solid #045894;
  background-color: #f8f8f8;
  color: black;
}

.writing-nav-icon:hover {
  border: 1px solid #045894;
  background-color: #f8f8f8;
  color: black;
  cursor: pointer;
}

.article-left-nav, .article-right-nav {
  border: 1px solid #565656;
  padding: 0.45rem 0.5rem;
  text-align: center;
  background-color: #565656;
  color: white;
  margin: 0.5rem;
}

.article-left-nav:hover, .article-right-nav:hover {
  border: 1px solid #045894;
  background-color: #f8f8f8;
  color: black;
  cursor: pointer;
}

.active-dot {
  position: relative;
}

.active-dot::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 30px;
  background-color: #00EA25;
  left: 0px;
  top: 42px;
}

.bigtext1 {
  font-size: 2.22rem;
  -webkit-transform: translate(25px) rotate(-5deg);
          transform: translate(25px) rotate(-5deg);
}

@media only screen and (min-width: 576px) {
  .bigtext1 {
    font-size: 2.96rem;
  }
}

.bigtext2 {
  font-size: 2.22rem;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

@media only screen and (min-width: 576px) {
  .bigtext2 {
    font-size: 2.96rem;
  }
}

form, .form {
  margin: 0;
}

form label, .form label {
  display: block;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  padding: 3px 3px 3px 0px;
  font-size: microfont;
}

form input, .form input {
  width: 100%;
  font-size: 1.075rem;
  border: #D4D4D4;
  background-color: #f0f0f0;
  color: #000;
  outline: none;
  padding: 1rem;
  border-radius: 4px;
}

@media only screen and (max-width: 767px) {
  form input, .form input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

form input::-webkit-input-placeholder, .form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

form input:-ms-input-placeholder, .form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

form input::-ms-input-placeholder, .form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

form input::placeholder, .form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

form input:focus, .form input:focus {
  outline: none;
}

form input[type="submit"], .form input[type="submit"] {
  cursor: pointer;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

form button, .form button {
  font-size: 0.925rem;
}

form textarea, .form textarea {
  width: 100%;
  resize: vertical;
  font-size: 1.075rem;
  border: #D4D4D4;
  background-color: #f0f0f0;
  color: #000;
  outline: none;
  padding: 1rem;
  border-radius: 4px;
}

table {
  border-collapse: separate;
  border-spacing: 0 0.7rem;
  width: 100%;
  margin-bottom: 2rem;
}

th, td {
  text-align: left;
  padding: 1rem;
}

tbody tr {
  background-color: white;
  border-radius: 4px;
  margin: 1rem 0;
  -webkit-box-shadow: 0px 1px 3px rgba(122, 131, 142, 0.15);
          box-shadow: 0px 1px 3px rgba(122, 131, 142, 0.15);
}

tbody tr:hover {
  -webkit-box-shadow: 1px 1px 12px rgba(122, 131, 142, 0.25);
          box-shadow: 1px 1px 12px rgba(122, 131, 142, 0.25);
}

.post-content figure {
  margin: 1.79rem calc(-50vw + 50%);
  padding: 1.09rem;
  background-color: #f5f5f5;
}

@media only screen and (min-width: 576px) {
  .post-content figure {
    margin: 2.79rem 0;
  }
}

.post-content figure img {
  margin-bottom: 1.09rem;
}

.post-content figure.none {
  margin: unset;
  padding-top: unset;
  padding-right: unset;
  padding-left: unset;
  background-color: unset;
}

.avatar {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.big-avatar {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.small-avatar {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo-contain {
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.overflow-hidden {
  overflow: hidden;
}

.about-height {
  height: 60vh;
}

.fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.tx-c {
  text-align: center;
}

.tx-rl {
  text-align: right;
}

@media screen and (max-width: 700px) {
  .tx-rl {
    text-align: left;
  }
}

.tx-l {
  text-align: left;
}

.tx-r {
  text-align: right;
}

.uline {
  text-decoration: underline;
}

.ff-serif {
  font-family: "Open Sans", sans-serif;
}

.ff-sans-serif {
  font-family: "Montserrat", sans-serif;
}

.fw-normal {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: 500;
}

.fs-i {
  font-style: italic;
}

.tx-shadow-light {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.tx-indent-space {
  text-indent: 1.09rem;
}

.headinglh {
  line-height: 1.3925;
}

.ls-h {
  letter-spacing: 0.5px;
}

.blog-featurelh {
  line-height: 1.5;
}

.small-caps {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.micro-caps {
  font-size: 1.075rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nano-caps {
  font-size: 0.925rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.small-nano-caps {
  font-size: 0.725rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.picotext {
  font-size: 0.875rem;
}

.nanotext {
  font-size: 0.925rem;
}

.microtext {
  font-size: 1.075rem;
}

.smalltext, .lead {
  font-size: 1.125rem;
}

.mediumtext {
  font-size: 1.3125rem;
}

.largetext {
  font-size: 1.475rem;
}

.largertext {
  font-size: 2rem;
}

@media only screen and (min-width: 576px) {
  .largertext {
    font-size: 3rem;
  }
}

.hometext {
  font-size: 0.8rem;
}

@media only screen and (min-width: 576px) {
  .hometext {
    font-size: 1rem;
  }
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  margin-top: 1.79rem;
  margin-bottom: 0.59rem;
  line-height: 1.3925;
  font-weight: bold;
}

h1, .h1 {
  font-size: 2.22rem;
}

@media only screen and (min-width: 576px) {
  h1, .h1 {
    font-size: 2.96rem;
  }
}

h2, .h2 {
  font-size: 1.56rem;
}

@media only screen and (min-width: 576px) {
  h2, .h2 {
    font-size: 1.72rem;
  }
}

h3, .h3 {
  font-size: 1.32rem;
}

@media only screen and (min-width: 576px) {
  h3, .h3 {
    font-size: 1.48rem;
  }
}

.very-large-text {
  font-size: 7rem;
  line-height: 100%;
}

.almost-largetext {
  font-size: 2.5rem;
}

.richblack-link {
  color: #080705;
}

.richblack-link:active, .richblack-link:focus, .richblack-link:hover {
  color: #045894;
}

.opacity-7-link, .bg-branddark.alter-text a:not(.opacity-1-link) {
  opacity: 0.7;
  -webkit-transition: opacity 0.32s ease;
  transition: opacity 0.32s ease;
}

.opacity-7-link:active, .bg-branddark.alter-text a:active:not(.opacity-1-link), .opacity-7-link:focus, .bg-branddark.alter-text a:focus:not(.opacity-1-link), .opacity-7-link:hover, .bg-branddark.alter-text a:hover:not(.opacity-1-link), .opacity-7-link.is-active, .bg-branddark.alter-text a.is-active:not(.opacity-1-link) {
  opacity: 1;
}

.opacity-1-link {
  opacity: 1;
  -webkit-transition: opacity 0.32s ease;
  transition: opacity 0.32s ease;
}

.opacity-1-link:active, .opacity-1-link:focus, .opacity-1-link:hover, .opacity-1-link.is-active {
  opacity: 0.7;
}

.sweetgray-link {
  color: #767676;
}

.sweetgray-link:active, .sweetgray-link:focus, .sweetgray-link:hover {
  color: #045894;
}

.readablegray-link {
  color: rgba(0, 0, 0, 0.76);
}

.readablegray-link:active, .readablegray-link:focus, .readablegray-link:hover {
  color: #045894;
}

.gray-filtered-link {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.7;
  -webkit-transition: opacity 0.5s ease, -webkit-filter 1s ease;
  transition: opacity 0.5s ease, -webkit-filter 1s ease;
  transition: filter 1s ease, opacity 0.5s ease;
  transition: filter 1s ease, opacity 0.5s ease, -webkit-filter 1s ease;
}

.gray-filtered-link:active, .gray-filtered-link:focus, .gray-filtered-link:hover {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}

.is-disabled {
  cursor: none;
  pointer-events: none;
}

.prefix {
  margin-right: 6px;
}

.prefix.is-wider {
  margin-right: 15px;
}

.prefix.is-even-wider {
  margin-right: 24px;
}

.suffix {
  margin-left: 6px;
}

.suffix.is-wider {
  margin-left: 15px;
}

.suffix.is-even-wider {
  margin-left: 24px;
}

.icon-move-on-hover svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .32s ease-in;
  transition: -webkit-transform .32s ease-in;
  transition: transform .32s ease-in;
  transition: transform .32s ease-in, -webkit-transform .32s ease-in;
  will-change: transform;
}

.icon-move-on-hover:focus svg, .icon-move-on-hover:hover svg {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}

.btn, form input[type="submit"], .form input[type="submit"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.075rem;
  line-height: 0;
  height: 40px;
  padding: 0 1.09rem;
}

.btn.btn-brand, form input[type="submit"], .form input[type="submit"] {
  background-color: #045894;
  color: #fff;
}

.btn.btn-highlight, form input.btn-highlight[type="submit"], .form input.btn-highlight[type="submit"] {
  background-color: #ec6c4d;
  color: #fff;
}

.btn.btn-default, form input.btn-default[type="submit"], .form input.btn-default[type="submit"] {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn.btn-white, form input.btn-white[type="submit"], .form input.btn-white[type="submit"] {
  background-color: #fff;
}

.rad-c {
  border-radius: 50%;
}

.rad-s {
  border-radius: 5px;
}

.rad-b {
  border-radius: 10px;
}

.card-shadow {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.is-loading {
  -webkit-animation: loading 0.5s 0.1s ease-in backwards;
          animation: loading 0.5s 0.1s ease-in backwards;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hero h2 {
  font-size: 2.1rem;
}

@media only screen and (min-width: 576px) {
  .hero h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .hero h2 {
    font-size: 3rem;
  }
}

.hero h2 span {
  font-weight: normal;
  display: block;
  font-size: 85%;
}

.newsletter-cta img {
  height: 496px;
}

@media only screen and (min-width: 576px) {
  .newsletter-cta img {
    height: 576px;
  }
}

@media only screen and (min-width: 768px) {
  .newsletter-cta img {
    height: 680px;
  }
}

.newsletter-cta .newsletter-form {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  max-width: 360px;
}

@media only screen and (min-width: 768px) {
  .newsletter-cta .newsletter-form {
    top: -4rem;
    left: unset;
    right: 4rem;
    -webkit-transform: none;
            transform: none;
  }
}

@media only screen and (min-width: 992px) {
  .newsletter-cta .newsletter-form {
    top: -8rem;
    right: 10rem;
  }
}

@media only screen and (min-width: 768px) {
  .business-definition .card {
    position: relative;
    margin-top: -11.595rem;
    background-color: rgba(34, 116, 165, 0.9);
  }
}

.is-home .what-we-do ul a p {
  width: 93%;
}

.post-content h3:first-of-type {
  margin-top: 0;
}

.is-consulting .cta-area .btn.is-active, .is-consulting .cta-area form input.is-active[type="submit"], form .is-consulting .cta-area input.is-active[type="submit"], .is-consulting .cta-area .form input.is-active[type="submit"], .form .is-consulting .cta-area input.is-active[type="submit"] {
  background-color: #f5f5f5;
  color: #767676;
}

.is-single .sticky-mediumup {
  margin-top: 1.79rem;
}

@media only screen and (min-width: 768px) {
  .is-single .sticky-mediumup {
    margin-top: unset;
  }
}

.absolute-position {
  position: absolute;
}

.fixed-zero {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.absolute-zero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.absolute-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.absolute-right {
  position: absolute;
  top: 80%;
}

.pos-f {
  position: fixed;
}

.pos-f.fixed-to-top {
  top: 0;
  right: 0;
  left: 0;
}

.pos-a {
  position: absolute;
}

.pos-a.fixed-to-top {
  top: 0;
  right: 0;
  left: 0;
}

.pos-r {
  position: relative;
}

.pos-ar {
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .pos-ar {
    position: relative;
  }
}

.pos-atr {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 767px) {
  .fixed-on-mobile {
    position: fixed;
  }
}

.d-blk {
  display: block;
}

.d-ibl {
  display: inline-block;
}

.d-flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.d-ifx {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.al-i-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.al-i-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-c-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.space-between-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-margin {
  margin-top: 123px;
}

.m-0 {
  margin: 0;
}

.my-h {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-h {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1h {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-2h {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.writing-m-top {
  margin-top: 6rem;
}

@media screen and (max-width: 767px) {
  .writing-m-top {
    margin-top: 0rem;
  }
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-p {
  margin-bottom: 16px !important;
}

.mb-hh {
  margin-bottom: 0.25rem;
}

.mb-h {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1hh {
  margin-bottom: 1.25rem;
}

.mb-1h {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.p-0 {
  padding: 0rem;
}

.p-h {
  padding: 0.5rem;
}

.p-hh {
  padding: 0.75rem;
}

.p-1 {
  padding: 1rem;
}

.p-1h {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-2h {
  padding: 2.5rem;
}

.p-3 {
  padding: 3rem;
}

.py-h {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-hh {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-1h {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-2h {
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-h {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.px-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-1h {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.px-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.px-3 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.px-5 {
  padding-right: 5rem;
  padding-left: 5rem;
}

.px-6 {
  padding-right: 6rem;
  padding-left: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-h {
  padding-top: 0.5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-1h {
  padding-top: 1.5rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-hh {
  padding-bottom: 0.25rem;
}

.pb-h {
  padding-bottom: 0.5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-1h {
  padding-bottom: 1.5rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-2h {
  padding-bottom: 2.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.show-smallup {
  display: none;
}

@media only screen and (min-width: 576px) {
  .show-smallup {
    display: block;
  }
}

.show-mediumup {
  display: none;
}

@media only screen and (min-width: 768px) {
  .show-mediumup {
    display: block;
  }
}

.flex-show-mediumup {
  display: none;
}

@media only screen and (min-width: 768px) {
  .flex-show-mediumup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.show-largeup {
  display: none;
}

@media only screen and (min-width: 992px) {
  .show-largeup {
    display: block;
  }
}

.hide-smallup {
  display: block;
}

@media only screen and (min-width: 576px) {
  .hide-smallup {
    display: none;
  }
}

.flex-hide-mediumup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .flex-hide-mediumup {
    display: none;
  }
}

.hide-mediumup {
  display: block;
}

@media only screen and (min-width: 768px) {
  .hide-mediumup {
    display: none;
  }
}

.hide-largeup {
  display: block;
}

@media only screen and (min-width: 992px) {
  .hide-largeup {
    display: none;
  }
}

.rad-c {
  border-radius: 50%;
}

.radius-50 {
  border-radius: 50px;
}

.is-active {
  color: #045894;
}

.z-depth-1 {
  z-index: 1;
}

.z-depth-2 {
  z-index: 2;
}

.z-depth-3 {
  z-index: 3;
}

.z-depth-4 {
  z-index: 4;
}

.z-depth-100 {
  z-index: 100;
}

.opacity-7 {
  opacity: 0.7;
}

.hide-flow-x {
  overflow-x: hidden;
}

.hide-flow-y {
  overflow-y: hidden;
}

.sr:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  overflow: hidden;
  white-space: nowrap;
}
/*# sourceMappingURL=style.css.map */