// 
    // Single pages

    // @package astute
    // @author  Dennis Dickson <itztonye@gmail.com>

.post-content
    h3:first-of-type
        margin-top:             0


// Consulting
.is-consulting
    .cta-area
        .btn.is-active
            background-color:   $platinum
            color:              $sweetgray


// Single article
.is-single
    .sticky-mediumup
        margin-top:             $space-sm
        @media #{$mediumup}
            margin-top:         unset