// 
  // Single pages

  // @package site
  // @author  Tonye Dickson <itztonye@gmail.com>

.pagination-container
  flex-direction: column
  .numbering
    width: 100%
    text-align: center
  .prev-6
    align-self: flex-start
  .next-6
    align-self: flex-end
  @media #{ $smallup }
    flex-direction: row
    .numbering
      width: auto
      text-align: center

.article-content
  p
    max-width: 756px
    margin: 1rem auto
  h2, h3
    max-width: 756px
    margin: 4rem auto 2rem auto
    color: white

.project-item
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem
  p
    margin-bottom: 0.5rem
  @media #{ $smallup }
    grid-template-columns: 5fr 2fr
    grid-gap: 2rem
    p
      margin-bottom: 1rem
