// 
  // Animations

  // @package site
  // @author  Tonye Dickson <itztonye@gmail.com>

.is-loading
  animation: loading 0.5s 0.1s ease-in backwards

@keyframes loading
  0%
    opacity: 0
    transform: translateY(10px)
  100%
    opacity: 1
    transform: translateY(0)

.spin
  animation: spin 10s infinite linear
  position: relative
  z-index: 10

@keyframes spin 
	0%
    transform: rotate(0deg)
	100%
    transform: rotate(359deg)	

body
  position: fixed
  top: 0
  width: 100%

.scrolltext
  margin: 0
  opacity: 0
  position: absolute
  left: 0
  transform: rotate(270deg)
  transform-origin: top left
  animation: float 3s infinite ease-in-out
  &::before
    content: ""
    height: 100px
    position: absolute
    width: 1px
    background-color: $primarycolor
    animation: float 3s infinite ease-in-out
    

@keyframes float 
	0%
    transform: translateY(-50px)
	50%
    transform: translateY(0px)
	100%
    transform: translateY(-50px)	