// 
  // Buttons

  // @package astute
  // @author  Dennis Dickson <itztonye@gmail.com>

.btn
  display: flex
  align-items: center
  font-family: $headingfont
  font-size: $microfont
  line-height: 0
  height: 40px
  padding: 0 $space
  &.btn-brand
    background-color: $primarycolor
    color: #fff
    &.btn-highlight
      background-color: $highlightcolor
      color: #fff
    &.btn-default
      background-color: rgba(0, 0, 0, 0.2)
    &.btn-white
      background-color: #fff
