// 
  // Images

  // @package site
  // @author  Dennis Dickson <itztonye@gmail.com>

.post-content
  figure
    margin: $space-sm calc(-50vw + 50%)
    padding: $space
    background-color: $platinum
    @media #{$smallup}
      margin: $space-md 0
      img
        margin-bottom: $space
        &.none
          margin: unset
          padding-top: unset
          padding-right: unset
          padding-left: unset
          background-color: unset


.small-avatar
  width: 40px
  height: 40px
  object-fit: cover

.logo-contain
  height: 40px
  object-fit: contain

.overflow-hidden
  overflow: hidden

.about-height
  height: 60vh

.fit-cover
  object-fit: cover
  height: 100%

.brand-icon
  height: 70px
  img
    height: 100%
    object-fit: contain
  @media #{ $mediumup }
    height: 100px

.article-banner
  height: 150px
  background-color: $branddark
  margin-bottom: 2rem
  @media #{ $mediumup }
    height: 350px

.project-feature-image
  img
    height: 100%
    object-fit: cover
.article-image
  img
    height: 100%
    width: 100%
    object-fit: contain